[user]
    name = hugo
    email = Deepseek1@github.com
[init]
    defaultBranch = main
[core]
    editor = nvim
[pull]
    ff = only
[color]
    ui = auto

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
